# Основы работы с pandas

### Цель работы
На практике ознакомиться с основными приемами обработки данных с использованием библиотеки pandas, освоить основные понятия этой библиотеки,

### Методические указания
Для успешного выполнения данной лабораторной работы необходимо заранее ознакомиться с официальной документацией библиотеки pandas.

Работу следует выполнять в интерактивной среде программирования Jupyter notebook. Оценивается полнота выполнения задания, знание и умение применять библиотечные функции

К данной работе прилагается файл с набором данных. Данный набор данных используется для открытого соревнования по машинному обучения Kaggle. Набор описывает основные характеристики пассажиров Титаника с информацией о том, выжил данный пассажир или нет. Часть полей носит категориальный, часть численный характер. Часть данных отсутствует.

## Задания к выполнению

In [3]:
import pandas as pd
import numpy as np

Получить файл набора данных, прилагающийся к этой работе.

In [4]:
df = pd.read_csv('train.csv')
df.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

Считать файл в pandas DataFrame

In [71]:
df.tail(1)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

Ознакомиться с основными параметрами датасета, используя функции библиотеки pandas, включая следующие данные:

<li>Количество точек данных (измерений) в наборе</li>
<li>Количество полей данных (атрибутов)</li>

<li>Тип данных каждого поля, шкала каждого поля</li>

<li>Количество отсутствующих значений для каждого поля</li>

<li>Количество и названия константных и уникальных полей</li>

In [72]:
df.shape

(891, 12)

In [73]:
len(df)

891

In [10]:
df.nunique(axis=0)

PassengerId    891
Survived         2
Pclass           3
Name           891
Sex              2
Age             88
SibSp            7
Parch            7
Ticket         681
Fare           248
Cabin          147
Embarked         3
dtype: int64

In [74]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [11]:
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

Удалить из набора поля, не несущие информативной нагрузки - содержащие уникальные либо константные значения

In [75]:
df.drop(['PassengerId', 'Name', 'Ticket', 'Cabin'], axis=1, inplace=True)
df.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0         0       3    male  22.0      1      0   7.2500        S
1         1       1  female  38.0      1      0  71.2833        C
2         1       3  female  26.0      0      0   7.9250        S
3         1       1  female  35.0      1      0  53.1000        S
4         0       3    male  35.0      0      0   8.0500        S

Заменить возраст пассажиров на год рождения

In [76]:
df['Age'] = (2022 - df['Age'])
df.head()

   Survived  Pclass     Sex     Age  SibSp  Parch     Fare Embarked
0         0       3    male  2000.0      1      0   7.2500        S
1         1       1  female  1984.0      1      0  71.2833        C
2         1       3  female  1996.0      0      0   7.9250        S
3         1       1  female  1987.0      1      0  53.1000        S
4         0       3    male  1987.0      0      0   8.0500        S

Переименовать все названия колонок на русском языке

In [77]:
rename = {
    "PClass": "класс пассажира",
    "Sex": "пол",
    "Survived": "выживший",
    "Embarked" : "порт посадки",
    "Pclass":"класс пассажира",
    "SibSp": "родня 2 очереди",
    "Parch": "родня 1 очереди",
    "Age":"возраст", 
    "Fare":"тариф"
}
df = df.rename(columns = rename)
# df.drop(['PassengerId', 'Name', 'Ticket'], axis=1).head()
df.head()

,выживший,класс пассажира,пол,возраст,родня 2 очереди,родня 1 очереди,тариф,порт посадки
0,0,3,male,2000.0,1,0,7.2500,S
1,1,1,female,1984.0,1,0,71.2833,C
2,1,3,female,1996.0,0,0,7.9250,S
3,1,1,female,1987.0,1,0,53.1000,S
4,0,3,male,1987.0,0,0,8.0500,S

Заменить все отсутствующие данные средним значением (в случае числового поля) либо самым распространенным в категориальных полях.

In [78]:
df.isna().sum()

выживший             0
класс пассажира      0
пол                  0
возраст            177
родня 2 очереди      0
родня 1 очереди      0
тариф                0
порт посадки         2
dtype: int64

In [81]:
df['возраст'] = df['возраст'].fillna(df['возраст'].mean())
df['порт посадки'] = df['порт посадки'].fillna(df['порт посадки'].mode().item())

In [82]:
df.isna().sum()

выживший           0
класс пассажира    0
пол                0
возраст            0
родня 2 очереди    0
родня 1 очереди    0
тариф              0
порт посадки       0
dtype: int64

Сохранить получившийся набор данных в формате CSV

In [83]:
df.to_csv()

',выживший,класс пассажира,пол,возраст,родня 2 очереди,родня 1 очереди,тариф,порт посадки\r\n0,0,3,male,2000.0,1,0,7.25,S\r\n1,1,1,female,1984.0,1,0,71.2833,C\r\n2,1,3,female,1996.0,0,0,7.925,S\r\n3,1,1,female,1987.0,1,0,53.1,S\r\n4,0,3,male,1987.0,0,0,8.05,S\r\n5,0,3,male,1992.3008823529412,0,0,8.4583,Q\r\n6,0,1,male,1968.0,0,0,51.8625,S\r\n7,0,3,male,2020.0,3,1,21.075,S\r\n8,1,3,female,1995.0,0,2,11.1333,S\r\n9,1,2,female,2008.0,1,0,30.0708,C\r\n10,1,3,female,2018.0,1,1,16.7,S\r\n11,1,1,female,1964.0,0,0,26.55,S\r\n12,0,3,male,2002.0,0,0,8.05,S\r\n13,0,3,male,1983.0,1,5,31.275,S\r\n14,0,3,female,2008.0,0,0,7.8542,S\r\n15,1,2,female,1967.0,0,0,16.0,S\r\n16,0,3,male,2020.0,4,1,29.125,Q\r\n17,1,2,male,1992.3008823529412,0,0,13.0,S\r\n18,0,3,female,1991.0,1,0,18.0,S\r\n19,1,3,female,1992.3008823529412,0,0,7.225,C\r\n20,0,2,male,1987.0,0,0,26.0,S\r\n21,1,2,male,1988.0,0,0,13.0,S\r\n22,1,3,female,2007.0,0,0,8.0292,Q\r\n23,1,1,male,1994.0,0,0,35.5,S\r\n24,0,3,female,2014.0,3,1,21.075,S\r\n25,1,3,female,1984.0,1,5,31.3875,S\r\n26,0,3,male,1992.3008823529412,0,0,7.225,C\r\n27,0,1,male,2003.0,3,2,263.0,S\r\n28,1,3,female,1992.3008823529412,0,0,7.8792,Q\r\n29,0,3,male,1992.3008823529412,0,0,7.8958,S\r\n30,0,1,male,1982.0,0,0,27.7208,C\r\n31,1,1,female,1992.3008823529412,1,0,146.5208,C\r\n32,1,3,female,1992.3008823529412,0,0,7.75,Q\r\n33,0,2,male,1956.0,0,0,10.5,S\r\n34,0,1,male,1994.0,1,0,82.1708,C\r\n35,0,1,male,1980.0,1,0,52.0,S\r\n36,1,3,male,1992.3008823529412,0,0,7.2292,C\r\n37,0,3,male,2001.0,0,0,8.05,S\r\n38,0,3,female,2004.0,2,0,18.0,S\r\n39,1,3,female,2008.0,1,0,11.2417,C\r\n40,0,3,female,1982.0,1,0,9.475,S\r\n41,0,2,female,1995.0,1,0,21.0,S\r\n42,0,3,male,1992.3008823529412,0,0,7.8958,C\r\n43,1,2,female,2019.0,1,2,41.5792,C\r\n44,1,3,female,2003.0,0,0,7.8792,Q\r\n45,0,3,male,1992.3008823529412,0,0,8.05,S\r\n46,0,3,male,1992.3008823529412,1,0,15.5,Q\r\n47,1,3,female,1992.3008823529412,0,0,7.75,Q\r\n48,0,3,male,1992.3008823529412,2,0,21.6792,C\r\n49,0,3,female,2004.0,1,0,17.8,S\r\n50,0,3,male,2015.0,4,1,39.6875,S\r\n51,0,3,male,2001.0,0,0,7.8,S\r\n52,1,1,female,1973.0,1,0,76.7292,C\r\n53,1,2,female,1993.0,1,0,26.0,S\r\n54,0,1,male,1957.0,0,1,61.9792,C\r\n55,1,1,male,1992.3008823529412,0,0,35.5,S\r\n56,1,2,female,2001.0,0,0,10.5,S\r\n57,0,3,male,1993.5,0,0,7.2292,C\r\n58,1,2,female,2017.0,1,2,27.75,S\r\n59,0,3,male,2011.0,5,2,46.9,S\r\n60,0,3,male,2000.0,0,0,7.2292,C\r\n61,1,1,female,1984.0,0,0,80.0,S\r\n62,0,1,male,1977.0,1,0,83.475,S\r\n63,0,3,male,2018.0,3,2,27.9,S\r\n64,0,1,male,1992.3008823529412,0,0,27.7208,C\r\n65,1,3,male,1992.3008823529412,1,1,15.2458,C\r\n66,1,2,female,1993.0,0,0,10.5,S\r\n67,0,3,male,2003.0,0,0,8.1583,S\r\n68,1,3,female,2005.0,4,2,7.925,S\r\n69,0,3,male,1996.0,2,0,8.6625,S\r\n70,0,2,male,1990.0,0,0,10.5,S\r\n71,0,3,female,2006.0,5,2,46.9,S\r\n72,0,2,male,2001.0,0,0,73.5,S\r\n73,0,3,male,1996.0,1,0,14.4542,C\r\n74,1,3,male,1990.0,0,0,56.4958,S\r\n75,0,3,male,1997.0,0,0,7.65,S\r\n76,0,3,male,1992.3008823529412,0,0,7.8958,S\r\n77,0,3,male,1992.3008823529412,0,0,8.05,S\r\n78,1,2,male,2021.17,0,2,29.0,S\r\n79,1,3,female,1992.0,0,0,12.475,S\r\n80,0,3,male,2000.0,0,0,9.0,S\r\n81,1,3,male,1993.0,0,0,9.5,S\r\n82,1,3,female,1992.3008823529412,0,0,7.7875,Q\r\n83,0,1,male,1994.0,0,0,47.1,S\r\n84,1,2,female,2005.0,0,0,10.5,S\r\n85,1,3,female,1989.0,3,0,15.85,S\r\n86,0,3,male,2006.0,1,3,34.375,S\r\n87,0,3,male,1992.3008823529412,0,0,8.05,S\r\n88,1,1,female,1999.0,3,2,263.0,S\r\n89,0,3,male,1998.0,0,0,8.05,S\r\n90,0,3,male,1993.0,0,0,8.05,S\r\n91,0,3,male,2002.0,0,0,7.8542,S\r\n92,0,1,male,1976.0,1,0,61.175,S\r\n93,0,3,male,1996.0,1,2,20.575,S\r\n94,0,3,male,1963.0,0,0,7.25,S\r\n95,0,3,male,1992.3008823529412,0,0,8.05,S\r\n96,0,1,male,1951.0,0,0,34.6542,C\r\n97,1,1,male,1999.0,0,1,63.3583,C\r\n98,1,2,female,1988.0,0,1,23.0,S\r\n99,0,2,male,1988.0,1,0,26.0,S\r\n100,0,3,female,1994.0,0,0,7.8958,S\r\n101,0,3,male,1992.3008823529412,0,0,7.8958,S\r\n102,0,1,male,2001.0,0,1,77.2875,S\r\n103,0,3,male,1989.0,0,0,8.6542,S\r\n104,0,3,male,1985.0,2,0,7.925,S\r\n105,0,3,male,1994.0,0,0,7.8958,S\r\n106,1,3,female,2001.0,0,0,7.65,S\r\n107,1,3,male,1992.3008823529412,0,0,7.775,S\r\n108,0,3,male,1984.0,0,0,7.8958,S\r\n109,1,3,female,1992.3008823529412,1,0,24.15,Q\r\n110,0,1,male,1975.0,0,0,52.0,S\r\n111,0,3,female,2007.5,1,0,14.4542,C\r\n112,0,3,male,2000.0,0,0,8.05,S\r\n113,0,3,female,2002.0,1,0,9.825,S\r\n114,0,3,female,2005.0,0,0,14.4583,C\r\n115,0,3,male,2001.0,0,0,7.925,S\r\n116,0,3,male,1951.5,0,0,7.75,Q\r\n117,0,2,male,1993.0,1,0,21.0,S\r\n118,0,1,male,1998.0,0,1,247.5208,C\r\n119,0,3,female,2020.0,4,2,31.275,S\r\n120,0,2,male,2001.0,2,0,73.5,S\r\n121,0,3,male,1992.3008823529412,0,0,8.05,S\r\n122,0,2,male,1989.5,1,0,30.0708,C\r\n123,1,2,female,1989.5,0,0,13.0,S\r\n124,0,1,male,1968.0,0,1,77.2875,S\r\n125,1,3,male,2010.0,1,0,11.2417,C\r\n126,0,3,male,1992.3008823529412,0,0,7.75,Q\r\n127,1,3,male,1998.0,0,0,7.1417,S\r\n128,1,3,female,1992.3008823529412,1,1,22.3583,C\r\n129,0,3,male,1977.0,0,0,6.975,S\r\n130,0,3,male,1989.0,0,0,7.8958,C\r\n131,0,3,male,2002.0,0,0,7.05,S\r\n132,0,3,female,1975.0,1,0,14.5,S\r\n133,1,2,female,1993.0,1,0,26.0,S\r\n134,0,2,male,1997.0,0,0,13.0,S\r\n135,0,2,male,1999.0,0,0,15.0458,C\r\n136,1,1,female,2003.0,0,2,26.2833,S\r\n137,0,1,male,1985.0,1,0,53.1,S\r\n138,0,3,male,2006.0,0,0,9.2167,S\r\n139,0,1,male,1998.0,0,0,79.2,C\r\n140,0,3,female,1992.3008823529412,0,2,15.2458,C\r\n141,1,3,female,2000.0,0,0,7.75,S\r\n142,1,3,female,1998.0,1,0,15.85,S\r\n143,0,3,male,2003.0,0,0,6.75,Q\r\n144,0,2,male,2004.0,0,0,11.5,S\r\n145,0,2,male,2003.0,1,1,36.75,S\r\n146,1,3,male,1995.0,0,0,7.7958,S\r\n147,0,3,female,2013.0,2,2,34.375,S\r\n148,0,2,male,1985.5,0,2,26.0,S\r\n149,0,2,male,1980.0,0,0,13.0,S\r\n150,0,2,male,1971.0,0,0,12.525,S\r\n151,1,1,female,2000.0,1,0,66.6,S\r\n152,0,3,male,1966.5,0,0,8.05,S\r\n153,0,3,male,1981.5,0,2,14.5,S\r\n154,0,3,male,1992.3008823529412,0,0,7.3125,S\r\n155,0,1,male,1971.0,0,1,61.3792,C\r\n156,1,3,female,2006.0,0,0,7.7333,Q\r\n157,0,3,male,1992.0,0,0,8.05,S\r\n158,0,3,male,1992.3008823529412,0,0,8.6625,S\r\n159,0,3,male,1992.3008823529412,8,2,69.55,S\r\n160,0,3,male,1978.0,0,1,16.1,S\r\n161,1,2,female,1982.0,0,0,15.75,S\r\n162,0,3,male,1996.0,0,0,7.775,S\r\n163,0,3,male,2005.0,0,0,8.6625,S\r\n164,0,3,male,2021.0,4,1,39.6875,S\r\n165,1,3,male,2013.0,0,2,20.525,S\r\n166,1,1,female,1992.3008823529412,0,1,55.0,S\r\n167,0,3,female,1977.0,1,4,27.9,S\r\n168,0,1,male,1992.3008823529412,0,0,25.925,S\r\n169,0,3,male,1994.0,0,0,56.4958,S\r\n170,0,1,male,1961.0,0,0,33.5,S\r\n171,0,3,male,2018.0,4,1,29.125,Q\r\n172,1,3,female,2021.0,1,1,11.1333,S\r\n173,0,3,male,2001.0,0,0,7.925,S\r\n174,0,1,male,1966.0,0,0,30.6958,C\r\n175,0,3,male,2004.0,1,1,7.8542,S\r\n176,0,3,male,1992.3008823529412,3,1,25.4667,S\r\n177,0,1,female,1972.0,0,0,28.7125,C\r\n178,0,2,male,1992.0,0,0,13.0,S\r\n179,0,3,male,1986.0,0,0,0.0,S\r\n180,0,3,female,1992.3008823529412,8,2,69.55,S\r\n181,0,2,male,1992.3008823529412,0,0,15.05,C\r\n182,0,3,male,2013.0,4,2,31.3875,S\r\n183,1,2,male,2021.0,2,1,39.0,S\r\n184,1,3,female,2018.0,0,2,22.025,S\r\n185,0,1,male,1992.3008823529412,0,0,50.0,S\r\n186,1,3,female,1992.3008823529412,1,0,15.5,Q\r\n187,1,1,male,1977.0,0,0,26.55,S\r\n188,0,3,male,1982.0,1,1,15.5,Q\r\n189,0,3,male,1986.0,0,0,7.8958,S\r\n190,1,2,female,1990.0,0,0,13.0,S\r\n191,0,2,male,2003.0,0,0,13.0,S\r\n192,1,3,female,2003.0,1,0,7.8542,S\r\n193,1,2,male,2019.0,1,1,26.0,S\r\n194,1,1,female,1978.0,0,0,27.7208,C\r\n195,1,1,female,1964.0,0,0,146.5208,C\r\n196,0,3,male,1992.3008823529412,0,0,7.75,Q\r\n197,0,3,male,1980.0,0,1,8.4042,S\r\n198,1,3,female,1992.3008823529412,0,0,7.75,Q\r\n199,0,2,female,1998.0,0,0,13.0,S\r\n200,0,3,male,1994.0,0,0,9.5,S\r\n201,0,3,male,1992.3008823529412,8,2,69.55,S\r\n202,0,3,male,1988.0,0,0,6.4958,S\r\n203,0,3,male,1976.5,0,0,7.225,C\r\n204,1,3,male,2004.0,0,0,8.05,S\r\n205,0,3,female,2020.0,0,1,10.4625,S\r\n206,0,3,male,1990.0,1,0,15.85,S\r\n207,1,3,male,1996.0,0,0,18.7875,C\r\n208,1,3,female,2006.0,0,0,7.75,Q\r\n209,1,1,male,1982.0,0,0,31.0,C\r\n210,0,3,male,1998.0,0,0,7.05,S\r\n211,1,2,female,1987.0,0,0,21.0,S\r\n212,0,3,male,2000.0,0,0,7.25,S\r\n213,0,2,male,1992.0,0,0,13.0,S\r\n214,0,3,male,1992.3008823529412,1,0,7.75,Q\r\n215,1,1,female,1991.0,1,0,113.275,C\r\n216,1,3,female,1995.0,0,0,7.925,S\r\n217,0,2,male,1980.0,1,0,27.0,S\r\n218,1,1,female,1990.0,0,0,76.2917,C\r\n219,0,2,male,1992.0,0,0,10.5,S\r\n220,1,3,male,2006.0,0,0,8.05,S\r\n221,0,2,male,1995.0,0,0,13.0,S\r\n222,0,3,male,1971.0,0,0,8.05,S\r\n223,0,3,male,1992.3008823529412,0,0,7.8958,S\r\n224,1,1,male,1984.0,1,0,90.0,S\r\n225,0,3,male,2000.0,0,0,9.35,S\r\n226,1,2,male,2003.0,0,0,10.5,S\r\n227,0,3,male,2001.5,0,0,7.25,S\r\n228,0,2,male,2004.0,0,0,13.0,S\r\n229,0,3,female,1992.3008823529412,3,1,25.4667,S\r\n230,1,1,female,1987.0,1,0,83.475,S\r\n231,0,3,male,1993.0,0,0,7.775,S\r\n232,0,2,male,1963.0,0,0,13.5,S\r\n233,1,3,female,2017.0,4,2,31.3875,S\r\n234,0,2,male,1998.0,0,0,10.5,S\r\n235,0,3,female,1992.3008823529412,0,0,7.55,S\r\n236,0,2,male,1978.0,1,0,26.0,S\r\n237,1,2,female,2014.0,0,2,26.25,S\r\n238,0,2,male,2003.0,0,0,10.5,S\r\n239,0,2,male,1989.0,0,0,12.275,S\r\n240,0,3,female,1992.3008823529412,1,0,14.4542,C\r\n241,1,3,female,1992.3008823529412,1,0,15.5,Q\r\n242,0,2,male,1993.0,0,0,10.5,S\r\n243,0,3,male,2000.0,0,0,7.125,S\r\n244,0,3,male,1992.0,0,0,7.225,C\r\n245,0,1,male,1978.0,2,0,90.0,Q\r\n246,0,3,female,1997.0,0,0,7.775,S\r\n247,1,2,female,1998.0,0,2,14.5,S\r\n248,1,1,male,1985.0,1,1,52.5542,S\r\n249,0,2,male,1968.0,1,0,26.0,S\r\n250,0,3,male,1992.3008823529412,0,0,7.25,S\r\n251,0,3,female,1993.0,1,1,10.4625,S\r\n252,0,1,male,1960.0,0,0,26.55,S\r\n253,0,3,male,1992.0,1,0,16.1,S\r\n254,0,3,female,1981.0,0,2,20.2125,S\r\n255,1,3,female,1993.0,0,2,15.2458,C\r\n256,1,1,female,1992.3008823529412,0,0,79.2,C\r\n257,1,1,female,1992.0,0,0,86.5,S\r\n258,1,1,female,1987.0,0,0,512.3292,C\r\n259,1,2,female,1972.0,0,1,26.0,S\r\n260,0,3,male,1992.3008823529412,0,0,7.75,Q\r\n261,1,3,male,2019.0,4,2,31.3875,S\r\n262,0,1,male,1970.0,1,1,79.65,S\r\n263,0,1,male,1982.0,0,0,0.0,S\r\n264,0,3,female,1992.3008823529412,0,0,7.75,Q\r\n265,0,2,male,1986.0,0,0,10.5,S\r\n266,0,3,male,2006.0,4,1,39.6875,S\r\n267,1,3,male,1997.0,1,0,7.775,S\r\n268,1,1,female,1964.0,0,1,153.4625,S\r\n269,1,1,female,1987.0,0,0,135.6333,S\r\n270,0,1,male,1992.3008823529412,0,0,31.0,S\r\n271,1,3,male,1997.0,0,0,0.0,S\r\n272,1,2,female,1981.0,0,1,19.5,S\r\n273,0,1,male,1985.0,0,1,29.7,C\r\n274,1,3,female,1992.3008823529412,0,0,7.75,Q\r\n275,1,1,female,1959.0,1,0,77.9583,S\r\n276,0,3,female,1977.0,0,0,7.75,S\r\n277,0,2,male,1992.3008823529412,0,0,0.0,S\r\n278,0,3,male,2015.0,4,1,29.125,Q\r\n279,1,3,female,1987.0,1,1,20.25,S\r\n280,0,3,male,1957.0,0,0,7.75,Q\r\n281,0,3,male,1994.0,0,0,7.8542,S\r\n282,0,3,male,2006.0,0,0,9.5,S\r\n283,1,3,male,2003.0,0,0,8.05,S\r\n284,0,1,male,1992.3008823529412,0,0,26.0,S\r\n285,0,3,male,1989.0,0,0,8.6625,C\r\n286,1,3,male,1992.0,0,0,9.5,S\r\n287,0,3,male,2000.0,0,0,7.8958,S\r\n288,1,2,male,1980.0,0,0,13.0,S\r\n289,1,3,female,2000.0,0,0,7.75,Q\r\n290,1,1,female,1996.0,0,0,78.85,S\r\n291,1,1,female,2003.0,1,0,91.0792,C\r\n292,0,2,male,1986.0,0,0,12.875,C\r\n293,0,3,female,1998.0,0,0,8.85,S\r\n294,0,3,male,1998.0,0,0,7.8958,S\r\n295,0,1,male,1992.3008823529412,0,0,27.7208,C\r\n296,0,3,male,1998.5,0,0,7.2292,C\r\n297,0,1,female,2020.0,1,2,151.55,S\r\n298,1,1,male,1992.3008823529412,0,0,30.5,S\r\n299,1,1,female,1972.0,0,1,247.5208,C\r\n300,1,3,female,1992.3008823529412,0,0,7.75,Q\r\n301,1,3,male,1992.3008823529412,2,0,23.25,Q\r\n302,0,3,male,2003.0,0,0,0.0,S\r\n303,1,2,female,1992.3008823529412,0,0,12.35,Q\r\n304,0,3,male,1992.3008823529412,0,0,8.05,S\r\n305,1,1,male,2021.08,1,2,151.55,S\r\n306,1,1,female,1992.3008823529412,0,0,110.8833,C\r\n307,1,1,female,2005.0,1,0,108.9,C\r\n308,0,2,male,1992.0,1,0,24.0,C\r\n309,1,1,female,1992.0,0,0,56.9292,C\r\n310,1,1,female,1998.0,0,0,83.1583,C\r\n311,1,1,female,2004.0,2,2,262.375,C\r\n312,0,2,female,1996.0,1,1,26.0,S\r\n313,0,3,male,1994.0,0,0,7.8958,S\r\n314,0,2,male,1979.0,1,1,26.25,S\r\n315,1,3,female,1996.0,0,0,7.8542,S\r\n316,1,2,female,1998.0,1,0,26.0,S\r\n317,0,2,male,1968.0,0,0,14.0,S\r\n318,1,1,female,1991.0,0,2,164.8667,S\r\n319,1,1,female,1982.0,1,1,134.5,C\r\n320,0,3,male,2000.0,0,0,7.25,S\r\n321,0,3,male,1995.0,0,0,7.8958,S\r\n322,1,2,female,1992.0,0,0,12.35,Q\r\n323,1,2,female,2000.0,1,1,29.0,S\r\n324,0,3,male,1992.3008823529412,8,2,69.55,S\r\n325,1,1,female,1986.0,0,0,135.6333,C\r\n326,0,3,male,1961.0,0,0,6.2375,S\r\n327,1,2,female,1986.0,0,0,13.0,S\r\n328,1,3,female,1991.0,1,1,20.525,S\r\n329,1,1,female,2006.0,0,1,57.9792,C\r\n330,1,3,female,1992.3008823529412,2,0,23.25,Q\r\n331,0,1,male,1976.5,0,0,28.5,S\r\n332,0,1,male,1984.0,0,1,153.4625,S\r\n333,0,3,male,2006.0,2,0,18.0,S\r\n334,1,1,female,1992.3008823529412,1,0,133.65,S\r\n335,0,3,male,1992.3008823529412,0,0,7.8958,S\r\n336,0,1,male,1993.0,1,0,66.6,S\r\n337,1,1,female,1981.0,0,0,134.5,C\r\n338,1,3,male,1977.0,0,0,8.05,S\r\n339,0,1,male,1977.0,0,0,35.5,S\r\n340,1,2,male,2020.0,1,1,26.0,S\r\n341,1,1,female,1998.0,3,2,263.0,S\r\n342,0,2,male,1994.0,0,0,13.0,S\r\n343,0,2,male,1997.0,0,0,13.0,S\r\n344,0,2,male,1986.0,0,0,13.0,S\r\n345,1,2,female,1998.0,0,0,13.0,S\r\n346,1,2,female,1982.0,0,0,13.0,S\r\n347,1,3,female,1992.3008823529412,1,0,16.1,S\r\n348,1,3,male,2019.0,1,1,15.9,S\r\n349,0,3,male,1980.0,0,0,8.6625,S\r\n350,0,3,male,1999.0,0,0,9.225,S\r\n351,0,1,male,1992.3008823529412,0,0,35.0,S\r\n352,0,3,male,2007.0,1,1,7.2292,C\r\n353,0,3,male,1997.0,1,0,17.8,S\r\n354,0,3,male,1992.3008823529412,0,0,7.225,C\r\n355,0,3,male,1994.0,0,0,9.5,S\r\n356,1,1,female,2000.0,0,1,55.0,S\r\n357,0,2,female,1984.0,0,0,13.0,S\r\n358,1,3,female,1992.3008823529412,0,0,7.8792,Q\r\n359,1,3,female,1992.3008823529412,0,0,7.8792,Q\r\n360,0,3,male,1982.0,1,4,27.9,S\r\n361,0,2,male,1993.0,1,0,27.7208,C\r\n362,0,3,female,1977.0,0,1,14.4542,C\r\n363,0,3,male,1987.0,0,0,7.05,S\r\n364,0,3,male,1992.3008823529412,1,0,15.5,Q\r\n365,0,3,male,1992.0,0,0,7.25,S\r\n366,1,1,female,1962.0,1,0,75.25,C\r\n367,1,3,female,1992.3008823529412,0,0,7.2292,C\r\n368,1,3,female,1992.3008823529412,0,0,7.75,Q\r\n369,1,1,female,1998.0,0,0,69.3,C\r\n370,1,1,male,1997.0,1,0,55.4417,C\r\n371,0,3,male,2004.0,1,0,6.4958,S\r\n372,0,3,male,2003.0,0,0,8.05,S\r\n373,0,1,male,2000.0,0,0,135.6333,C\r\n374,0,3,female,2019.0,3,1,21.075,S\r\n375,1,1,female,1992.3008823529412,1,0,82.1708,C\r\n376,1,3,female,2000.0,0,0,7.25,S\r\n377,0,1,male,1995.0,0,2,211.5,C\r\n378,0,3,male,2002.0,0,0,4.0125,C\r\n379,0,3,male,2003.0,0,0,7.775,S\r\n380,1,1,female,1980.0,0,0,227.525,C\r\n381,1,3,female,2021.0,0,2,15.7417,C\r\n382,0,3,male,1990.0,0,0,7.925,S\r\n383,1,1,female,1987.0,1,0,52.0,S\r\n384,0,3,male,1992.3008823529412,0,0,7.8958,S\r\n385,0,2,male,2004.0,0,0,73.5,S\r\n386,0,3,male,2021.0,5,2,46.9,S\r\n387,1,2,female,1986.0,0,0,13.0,S\r\n388,0,3,male,1992.3008823529412,0,0,7.7292,Q\r\n389,1,2,female,2005.0,0,0,12.0,C\r\n390,1,1,male,1986.0,1,2,120.0,S\r\n391,1,3,male,2001.0,0,0,7.7958,S\r\n392,0,3,male,1994.0,2,0,7.925,S\r\n393,1,1,female,1999.0,1,0,113.275,C\r\n394,1,3,female,1998.0,0,2,16.7,S\r\n395,0,3,male,2000.0,0,0,7.7958,S\r\n396,0,3,female,1991.0,0,0,7.8542,S\r\n397,0,2,male,1976.0,0,0,26.0,S\r\n398,0,2,male,1999.0,0,0,10.5,S\r\n399,1,2,female,1994.0,0,0,12.65,S\r\n400,1,3,male,1983.0,0,0,7.925,S\r\n401,0,3,male,1996.0,0,0,8.05,S\r\n402,0,3,female,2001.0,1,0,9.825,S\r\n403,0,3,male,1994.0,1,0,15.85,S\r\n404,0,3,female,2002.0,0,0,8.6625,S\r\n405,0,2,male,1988.0,1,0,21.0,S\r\n406,0,3,male,1971.0,0,0,7.75,S\r\n407,1,2,male,2019.0,1,1,18.75,S\r\n408,0,3,male,2001.0,0,0,7.775,S\r\n409,0,3,female,1992.3008823529412,3,1,25.4667,S\r\n410,0,3,male,1992.3008823529412,0,0,7.8958,S\r\n411,0,3,male,1992.3008823529412,0,0,6.8583,Q\r\n412,1,1,female,1989.0,1,0,90.0,Q\r\n413,0,2,male,1992.3008823529412,0,0,0.0,S\r\n414,1,3,male,1978.0,0,0,7.925,S\r\n415,0,3,female,1992.3008823529412,0,0,8.05,S\r\n416,1,2,female,1988.0,1,1,32.5,S\r\n417,1,2,female,2004.0,0,2,13.0,S\r\n418,0,2,male,1992.0,0,0,13.0,S\r\n419,0,3,female,2012.0,0,2,24.15,S\r\n420,0,3,male,1992.3008823529412,0,0,7.8958,C\r\n421,0,3,male,2001.0,0,0,7.7333,Q\r\n422,0,3,male,1993.0,0,0,7.875,S\r\n423,0,3,female,1994.0,1,1,14.4,S\r\n424,0,3,male,2004.0,1,1,20.2125,S\r\n425,0,3,male,1992.3008823529412,0,0,7.25,S\r\n426,1,2,female,1994.0,1,0,26.0,S\r\n427,1,2,female,2003.0,0,0,26.0,S\r\n428,0,3,male,1992.3008823529412,0,0,7.75,Q\r\n429,1,3,male,1990.0,0,0,8.05,S\r\n430,1,1,male,1994.0,0,0,26.55,S\r\n431,1,3,female,1992.3008823529412,1,0,16.1,S\r\n432,1,2,female,1980.0,1,0,26.0,S\r\n433,0,3,male,2005.0,0,0,7.125,S\r\n434,0,1,male,1972.0,1,0,55.9,S\r\n435,1,1,female,2008.0,1,2,120.0,S\r\n436,0,3,female,2001.0,2,2,34.375,S\r\n437,1,2,female,1998.0,2,3,18.75,S\r\n438,0,1,male,1958.0,1,4,263.0,S\r\n439,0,2,male,1991.0,0,0,10.5,S\r\n440,1,2,female,1977.0,1,1,26.25,S\r\n441,0,3,male,2002.0,0,0,9.5,S\r\n442,0,3,male,1997.0,1,0,7.775,S\r\n443,1,2,female,1994.0,0,0,13.0,S\r\n444,1,3,male,1992.3008823529412,0,0,8.1125,S\r\n445,1,1,male,2018.0,0,2,81.8583,S\r\n446,1,2,female,2009.0,0,1,19.5,S\r\n447,1,1,male,1988.0,0,0,26.55,S\r\n448,1,3,female,2017.0,2,1,19.2583,C\r\n449,1,1,male,1970.0,0,0,30.5,S\r\n450,0,2,male,1986.0,1,2,27.75,S\r\n451,0,3,male,1992.3008823529412,1,0,19.9667,S\r\n452,0,1,male,1992.0,0,0,27.75,C\r\n453,1,1,male,1973.0,1,0,89.1042,C\r\n454,0,3,male,1992.3008823529412,0,0,8.05,S\r\n455,1,3,male,1993.0,0,0,7.8958,C\r\n456,0,1,male,1957.0,0,0,26.55,S\r\n457,1,1,female,1992.3008823529412,1,0,51.8625,S\r\n458,1,2,female,1972.0,0,0,10.5,S\r\n459,0,3,male,1992.3008823529412,0,0,7.75,Q\r\n460,1,1,male,1974.0,0,0,26.55,S\r\n461,0,3,male,1988.0,0,0,8.05,S\r\n462,0,1,male,1975.0,0,0,38.5,S\r\n463,0,2,male,1974.0,0,0,13.0,S\r\n464,0,3,male,1992.3008823529412,0,0,8.05,S\r\n465,0,3,male,1984.0,0,0,7.05,S\r\n466,0,2,male,1992.3008823529412,0,0,0.0,S\r\n467,0,1,male,1966.0,0,0,26.55,S\r\n468,0,3,male,1992.3008823529412,0,0,7.725,Q\r\n469,1,3,female,2021.25,2,1,19.2583,C\r\n470,0,3,male,1992.3008823529412,0,0,7.25,S\r\n471,0,3,male,1984.0,0,0,8.6625,S\r\n472,1,2,female,1989.0,1,2,27.75,S\r\n473,1,2,female,1999.0,0,0,13.7917,C\r\n474,0,3,female,2000.0,0,0,9.8375,S\r\n475,0,1,male,1992.3008823529412,0,0,52.0,S\r\n476,0,2,male,1988.0,1,0,21.0,S\r\n477,0,3,male,1993.0,1,0,7.0458,S\r\n478,0,3,male,2000.0,0,0,7.5208,S\r\n479,1,3,female,2020.0,0,1,12.2875,S\r\n480,0,3,male,2013.0,5,2,46.9,S\r\n481,0,2,male,1992.3008823529412,0,0,0.0,S\r\n482,0,3,male,1972.0,0,0,8.05,S\r\n483,1,3,female,1959.0,0,0,9.5875,S\r\n484,1,1,male,1997.0,1,0,91.0792,C\r\n485,0,3,female,1992.3008823529412,3,1,25.4667,S\r\n486,1,1,female,1987.0,1,0,90.0,S\r\n487,0,1,male,1964.0,0,0,29.7,C\r\n488,0,3,male,1992.0,0,0,8.05,S\r\n489,1,3,male,2013.0,1,1,15.9,S\r\n490,0,3,male,1992.3008823529412,1,0,19.9667,S\r\n491,0,3,male,2001.0,0,0,7.25,S\r\n492,0,1,male,1967.0,0,0,30.5,S\r\n493,0,1,male,1951.0,0,0,49.5042,C\r\n494,0,3,male,2001.0,0,0,8.05,S\r\n495,0,3,male,1992.3008823529412,0,0,14.4583,C\r\n496,1,1,female,1968.0,1,0,78.2667,C\r\n497,0,3,male,1992.3008823529412,0,0,15.1,S\r\n498,0,1,female,1997.0,1,2,151.55,S\r\n499,0,3,male,1998.0,0,0,7.7958,S\r\n500,0,3,male,2005.0,0,0,8.6625,S\r\n501,0,3,female,2001.0,0,0,7.75,Q\r\n502,0,3,female,1992.3008823529412,0,0,7.6292,Q\r\n503,0,3,female,1985.0,0,0,9.5875,S\r\n504,1,1,female,2006.0,0,0,86.5,S\r\n505,0,1,male,2004.0,1,0,108.9,C\r\n506,1,2,female,1989.0,0,2,26.0,S\r\n507,1,1,male,1992.3008823529412,0,0,26.55,S\r\n508,0,3,male,1994.0,0,0,22.525,S\r\n509,1,3,male,1996.0,0,0,56.4958,S\r\n510,1,3,male,1993.0,0,0,7.75,Q\r\n511,0,3,male,1992.3008823529412,0,0,8.05,S\r\n512,1,1,male,1986.0,0,0,26.2875,S\r\n513,1,1,female,1968.0,1,0,59.4,C\r\n514,0,3,male,1998.0,0,0,7.4958,S\r\n515,0,1,male,1975.0,0,0,34.0208,S\r\n516,1,2,female,1988.0,0,0,10.5,S\r\n517,0,3,male,1992.3008823529412,0,0,24.15,Q\r\n518,1,2,female,1986.0,1,0,26.0,S\r\n519,0,3,male,1990.0,0,0,7.8958,S\r\n520,1,1,female,1992.0,0,0,93.5,S\r\n521,0,3,male,2000.0,0,0,7.8958,S\r\n522,0,3,male,1992.3008823529412,

Открыть данный файл в программе Microsoft Excel и сохранить в формате .xlsx

Считать файл .xlsx в новый DataFrame

In [ ]:
new_df = np.read_excel('df.xlsx')
new_df

## Контрольные вопросы
<li>Какие две главные структуры данных используются в pandas? В чем их отличие?</li>
<li>Назовите основные функции чтения данных из файлов</li>
<li>Напишите функцию записи набора данных А в файл с разделителями-запятыми</li>
<li>Как называется функция, выводящая на экран первые N строчек набора данных?</li>
<li>С помощью какой функции можно удалить поле набора данных? А строку?</li>
<li>Напишите участок кода, демонстрирующий возможность добавления новой строки к набору данных.</li>
<li>Напишите участок кода, демонстрирующий возможность добавления новой колонки (поля) к набору данных.</li>